<div class="container__small-card">
    <a href="">
        <div class="small-card__photo">
            <img 
                src="https://i.ytimg.com/vi/hUpITt-wkpA/maxresdefault.jpg" 
                alt=""
    >
        </div>
        <div class="small-card__text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae numquam architecto repudiandae harum dolor debitis excepturi totam laborum voluptas, cumque necessitatibus sunt tempore placeat laboriosam similique vero facere. Iusto, adipisci. </p>
        </div>
    </a>
    <hr>
</div>
