* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    
}

:root {
    font-size: 62.5%; 
}


a{
    text-decoration: none;
}